.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #3c3c3c;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the spacing between icon and text */
}

.navbar .logo {
  width: max(12vw, 120px); /* Adjust the width of the logo */
  background-color: #f0f0f0; /* Background color */
  border-radius: 10px; /* Rounded corners */
  padding: 5px; /* Spacing around the logo */
  display: flex; /* Ensure it can contain both icon and text */
  align-items: center; 
  margin-top: 10px;
}

.navbar .trade-icon {
  color: #fff; /* Color of the trade icon */
  font-size: 30px;
 /* Size of the trade icon */
}

.navbar .logo-text {
  font-size: 24px; /* Font size of the logo text */
  color: #fff;
  font-weight: 500;
  margin-top: 15px; /* Weight of the logo text */
}

.navbar ul {
  display: flex;
  gap: 45px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #fff;
  transform: translateY(2px); /* Small hover effect */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}

.navbar select {
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.navbar option {
  background-color: #09005c;
  color: #fff;
}

/* Button styles */
.navbar .sign-in-button {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #6f0adb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.navbar .sign-in-button:hover {
  transform: translateY(-2px); /* Lifting effect on hover */
}

.navbar .user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #3c3c3c;
  color: #ddd;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.navbar .user-icon:hover {
  background-color: #6f0adb;
  color: #fff; /* Change color on hover */
}

/* Dropdown styles */
.navbar-profile {
  position: relative;
}

.nav-profile-dropdown li {
  position: absolute;
  display: none;
  right: 0; /* Align to the right */
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown li {
  display: flex;
}
